/*  FUENTES

font-family: 'Borel', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Handjet', cursive;
font-family: 'Tilt Prism', cursive;

*/

body{
    width: 100%;
    display: block;
    background-color: #46f758;
    background-image: linear-gradient(45deg, #6bf779 0%, #e7f792 100%);
    margin: 0px;
    padding: 0px;
}
header{
    display: block;
    font-family: 'Tilt Prism', cursive;
    font-size: 35px;
    height: 100%;
    width: 100%;
    text-align: center;
}
h4{
    font-size: 25px !important;
}

.caja{
    display: block;
    width: 25%;
    float: left;
    height: 30%;
    border: 3px dashed rgb(50, 231, 34);
    border-radius: 10px;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 3%;
    text-align: center;
}

a{
    color: rgb(245, 239, 239);
    font-size: larger; 
}

#nav {
    margin-top: 3%;
    width: 100%;
    background-color: #333333;
    color: white;
    height: 40%;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 100%;
    box-shadow: 0px 0px 10px gray;
}

#nav ul, a{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 100%;
}
#nav > ul > li {
    display: inline-block;
    border-right: 2px solid gray;
    padding-left: 2%;
    padding-right: 3%;

}

#nav > ul > li a{
    display: block;

}

button{
    text-decoration: none;
    font-family: 'Handjet', cursive;
    color: white;
    background-color: #6bf779;
    padding: 1%;
    width: 90%;
    border: 6px dashed #a8f5b0;
    border-radius: 20px;
    transition: all 1.5s;
}


button:hover{
    transform: scale(1.6);
    background-color: #46f758;
} 


footer{
    display: block;
    float: left;
    margin-top: 20%;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%
}

#titulos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 10px #333333;
}