*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #a3b18a;
}
header, h1,h4{
    text-align: center;
    width: 100%;
    background-color: #3a5a40;
    box-shadow: 0px 0px 5px inset #a3b18a;
    padding: 20px;
    margin: 0px auto;
}
h1{
    letter-spacing: 13px;
    font-family: DM SANS;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 0px 0px 15px #a3b18a;
    transition: all 1.5s;
}

h4{
    letter-spacing: 13px;
    font-family: DM SANS;
    font-size: 14px;
    color: aliceblue;
    text-shadow: 0px 0px 15px #a3b18a;
    transition: all 1.5s;
}

h1:hover{
    transform: scale(1.2);
    background-color: #b7e4c7;
}

h4:hover{
    transform: scale(1.2);
    background-color: #b7e4c7;
}

nav{
    width: 100%;
    text-align: center;
    background-color: #1d3c22;   
}

nav,ul,li,a{
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    border-right: dashed 1px white;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: Borel;
}

nav > ul >li > ul{
    display: none;
    position: absolute;
}

nav > ul > li:hover > ul {
    display: block;

}

nav > ul > li:hover > ul > li{
    color: white;
    text-align: left;
    background-color: #a3b18a;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
}


aside{
    position: absolute;
    float: left;
    width: 26%;
    height: 650px;
    padding: 20px;
    box-shadow: 0px 0px 4px inset green,0px 0px 10px inset green, 0px 0px 8px  rgb(15, 31, 15), 0px 0px 18px  rgb(15, 31, 15);
    transition: all 2s;
}

aside:hover{
    font-family: Borel;
    font-size: 20px;
    height: 900px;
}
aside h2{
    margin-bottom: 30px;
    font-family: DM Sans;
}
label, input{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    margin-bottom: 30px;
}

.cajainfo{
    border-bottom: #1d3c22 dashed 1px;
    margin-bottom: 10px;
}
.cajainfo:last-child{
    border-bottom: 0px;
}

.cajainfo:nth-child(3){
    border-bottom: 0px
}
#enviar{
    margin-left: 20%;
    margin-top: 5%;
    border: 4px rgb(111, 216, 111) solid;
    background-color: #3a7a45;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    transition: all 1s;
}
#enviar:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 30px greenyellow;
}

#principal{
    float: left;
    width: 100%;
}

section{
    position: absolute;
    margin-left: 30%;
    text-align: center;
}
section h2 {
    font-size: 40px;
    font-family: DM Sans;
    padding: 10px;
}
section p{
    font-family: Borel;
    font-size: 30px;
}


footer
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #3a5a40;
        padding: 30px;
        text-align: center;
        color: white;
        font-size: 20px;
    }

    button{
        padding: 20px;
        color: white;
        background-color: #3a7a45;
        font-size: 20px;
    }


